@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&display=swap");
:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff; }

img {
  border-radius: 4px; }

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out; }

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px; }

aside header h3 {
  margin: 0; }

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px; }

aside header .close:hover {
  opacity: 1; }

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0; }

aside main {
  margin: 1rem; }

aside p {
  margin: 0 0 0.25rem; }

aside p:last-child {
  margin: 0; }

aside li {
  margin-bottom: 0.125rem; }

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10; }

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width)); }

.overlay .light {
  background: rgba(255, 255, 255, 0.5); }

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%; }

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible; }

/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1)); }

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
@media (min-width: 48em) {
  .header-menu-mobile-toggle {
    display: none; } }

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem; }

.header-menu-desktop {
  display: none; }
  @media (min-width: 768px) {
    .header-menu-desktop {
      display: flex; } }

.header-menu-item {
  cursor: pointer; }

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto; }

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto; }

.footer-menu-missing {
  display: inline-block;
  margin: 1rem; }

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem; }

.footer-menu a {
  color: var(--color-light); }

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto; }

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount)); }

.cart-line {
  display: flex;
  padding: 0.75rem 0; }

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem; }

.cart-summary-page {
  position: relative; }

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px); }

.cart-line-quantiy {
  display: flex; }

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem; }

.cart-subtotal {
  align-items: center;
  display: flex; }

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto; }

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0; }

.predictive-search-result {
  margin-bottom: 2rem; }

.predictive-search-result h5 {
  text-transform: uppercase; }

.predictive-search-result-item {
  margin-bottom: 0.5rem; }

.predictive-search-result-item a {
  align-items: center;
  display: flex; }

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%; }

.search-result {
  margin-bottom: 1.5rem; }

.search-results-item {
  margin-bottom: 0.5rem; }

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative; }

.featured-collection-image {
  aspect-ratio: 1 / 1; }
  @media (min-width: 45em) {
    .featured-collection-image {
      aspect-ratio: 16 / 9; } }

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover; }

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 45em) {
    .recommended-products-grid {
      grid-template-columns: repeat(4, 1fr); } }

.recommended-product img {
  height: auto; }

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem; }

.collection-item img {
  height: auto; }

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%; }
  @media (min-width: 45em) {
    .collection-description {
      max-width: 600px; } }

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem; }

.product-item img {
  height: auto;
  width: 100%; }

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid; }
  @media (min-width: 45em) {
    .product {
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem; } }

.product h1 {
  margin-top: 0; }

.product-images {
  display: grid;
  grid-gap: 1rem; }

.product-image img {
  height: auto;
  width: 100%; }

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem; }

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem; }

.product-price-on-sale s {
  opacity: 0.5; }

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem; }

.product-options-item {
  padding: 0.25rem 0.5rem; }

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem; }

.blog-article-image {
  aspect-ratio: 3/2;
  display: block; }

.blog-article-image img {
  height: 100%; }

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%; }

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center; }

.account-logout {
  display: inline-block; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: "Font Awesome 5 Free";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../../public/webfonts-new/fa-regular-400.woff2") format("woff2"), url("../../public/webfonts-new/fa-regular-400.ttf") format("woff"); }
@font-face {
  font-family: "Font Awesome 5 Free";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../../public/webfonts-new/fa-solid-900.woff2") format("woff2"), url("../../public/webfonts-new/fa-solid-900.ttf") format("woff"); }
html,
body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300; }

main p {
  line-height: 1.6;
  font-weight: 300; }

dl, ol, ul {
  font-weight: 300; }

tbody, td, tfoot, th, thead, tr {
  font-weight: 300; }

a {
  transition: color .3s ease; }

a:link, a:active, a:visited {
  color: #27aae1; }

a:hover {
  color: #515254; }

a.button {
  border-radius: 20px;
  background-color: #27aae1;
  color: #fff;
  transition: background-color .4s ease;
  padding: 4px 12px;
  display: inline-block;
  font-size: .9em;
  border: 2px solid #27aae1; }

a.button:hover {
  background-color: #3a4e66;
  text-decoration: none; }

section {
  padding: 14px 0; }

h1,
h2,
h3,
h4,
h5 {
  line-height: 1 !important;
  font-weight: 400;
  margin: 0;
  padding: 20px 0 0;
  font-family: "Passion One", sans-serif;
  text-transform: uppercase; }

strong {
  font-weight: 700; }

h1,
h2 {
  font-size: 2em; }
  @media screen and (min-width: 992px) {
    h1,
    h2 {
      font-size: 2.4em; } }

h3 {
  font-size: 1.6em; }
  @media screen and (min-width: 992px) {
    h3 {
      font-size: 1.9em; } }

h4 {
  font-size: 1.2em; }
  @media screen and (min-width: 992px) {
    h4 {
      font-size: 1.6em; } }

h5 {
  font-size: 1em; }

p,
.p {
  margin: 1.5em 0;
  line-height: 1.3; }

body {
  background-color: #efefef; }

img {
  max-width: 100%;
  height: auto; }

.noPadding {
  padding: 0 !important; }

.noMargin {
  margin: 0 !important; }

.obrienVideo {
  position: relative;
  padding-top: 56.25%;
  /* 720 / 1280 = 0.5625 */ }
  .obrienVideo .youVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.hiddenFooter {
  visibility: hidden; }

.inside-xxs {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

.inside-xs {
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

.inside-sm {
  max-width: 768px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

.inside-md {
  max-width: 992px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

.inside-lg {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

.inside-xl {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

.inside-xxl {
  max-width: 1660px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

.inside-xxxl {
  max-width: 1800px;
  box-sizing: border-box;
  margin: 0 auto; }

.padding-10 {
  padding: 10px; }

.padding-20 {
  padding: 20px; }

.padd-vert-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.padd-vert-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.text-center {
  text-align: center; }

.always-flex {
  display: flex; }

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.align-vertical {
  display: flex;
  align-items: center; }

.flex-xxs {
  display: block; }
  @media screen and (min-width: 480px) {
    .flex-xxs {
      display: flex;
      flex-wrap: wrap; } }

.flex-xs {
  display: block; }
  @media screen and (min-width: 600px) {
    .flex-xs {
      display: flex;
      flex-wrap: wrap; } }

.flex-sm {
  display: block; }
  @media screen and (min-width: 768px) {
    .flex-sm {
      display: flex; } }

.flex-md {
  display: block; }
  @media screen and (min-width: 992px) {
    .flex-md {
      display: flex; } }

.flex-lg {
  display: block; }
  @media screen and (min-width: 1200px) {
    .flex-lg {
      display: flex; } }

.flex-xl {
  display: block; }
  @media screen and (min-width: 1440px) {
    .flex-xl {
      display: flex; } }

.twenty {
  box-sizing: border-box;
  flex: 0 0 20%; }

.twenty-five {
  box-sizing: border-box;
  flex: 0 0 25%; }

.thirty {
  box-sizing: border-box;
  flex: 0 0 30%; }

@media screen and (min-width: 1440px) {
  .thirty-fix {
    max-width: 30%; } }

.thirty3 {
  box-sizing: border-box;
  flex: 0 0 33.33%; }

@media screen and (min-width: 1440px) {
  .thirty3-fix {
    max-width: 33.33%; } }

.forty {
  box-sizing: border-box;
  flex: 0 0 40%; }

@media screen and (min-width: 1440px) {
  .forty-fix {
    max-width: 40%; } }

.forty-five {
  box-sizing: border-box;
  flex: 0 0 45%; }

.forty-nine {
  box-sizing: border-box;
  flex: 0 0 49%; }

.fifty {
  box-sizing: border-box;
  flex: 0 0 50%; }

@media screen and (min-width: 1440px) {
  .fifty-fix {
    max-width: 50%; } }

.sixty {
  box-sizing: border-box;
  flex: 0 0 60%; }

@media screen and (min-width: 1440px) {
  .sixty-fix {
    max-width: 60%; } }

.seventy {
  box-sizing: border-box;
  flex: 0 0 70%; }

@media screen and (min-width: 1440px) {
  .seventy-fix {
    max-width: 70%; } }

@media screen and (min-width: 1440px) {
  .half {
    width: 50%; } }

.justify {
  justify-content: space-between; }

.flex-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.gap5 {
  gap: .5rem; }

.gap10 {
  gap: 10px; }

.gap50 {
  gap: 50px; }

.formFlex {
  flex: 1; }

.auto-grid-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 14px; }
  @media screen and (min-width: 768px) {
    .auto-grid-home {
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); } }

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 14px; }
  @media screen and (min-width: 992px) {
    .auto-grid {
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr)); } }

.auto-grid-sm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 14px; }
  .auto-grid-sm img {
    width: 100%; }

.auto-grid-lg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 14px; }
  @media screen and (min-width: 1200px) {
    .auto-grid-lg {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); } }
  @media screen and (min-width: 1440px) {
    .auto-grid-lg {
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr)); } }
  .auto-grid-lg img {
    width: 100%; }

.flex1 {
  flex: 1; }

.smol {
  font-size: .8em; }

.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0; }
  .header > div {
    margin: 10px 0 0 0;
    position: relative;
    border-radius: 4px 4px 0 0; }
  .header .logoTogether {
    position: relative;
    z-index: 12; }
    .header .logoTogether a {
      position: relative;
      top: -2px; }
  .header .logoContainer {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 8px; }
  .header #AGLogo, .header #AquaglideLogo {
    transition: fill .6s ease-in-out; }
  .header #AGLogo {
    padding: 5px 36px;
    display: block;
    fill: #fff; }
  .header #AquaglideLogo {
    display: block;
    fill: #fff; }
  .header .aqNav, .header .header-menu-desktop {
    width: auto; }
    @media screen and (min-width: 992px) {
      .header .aqNav, .header .header-menu-desktop {
        width: 350px; } }
  .header .aqNav {
    justify-content: flex-end; }
    .header .aqNav .contactLink {
      display: none; }
      @media screen and (min-width: 768px) {
        .header .aqNav .contactLink {
          display: flex; } }
  .header .bottomLine {
    border-bottom: 1px solid #fff;
    height: 0;
    padding: 0;
    margin: 0;
    transition: border-bottom .6s ease-in-out;
    margin: 0 10px;
    position: relative;
    z-index: -1; }
  .header li.navbar-item .fullHeight {
    transition: color .6s ease-in-out; }

.headerContainer .header {
  transition: transform .6s ease-in-out; }

.heightFixUnder.inside-xl {
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (min-width: 768px) {
    .heightFixUnder.inside-xl {
      padding-left: 20px;
      padding-right: 20px; } }

.interior + .headerContainer .header {
  background-color: #efefef; }
  .interior + .headerContainer .header .heightFix {
    background-color: #fff;
    margin: 10px 10px 0; }
    .interior + .headerContainer .header .heightFix .fullHeight {
      color: #3a4e66; }
  .interior + .headerContainer .header #AGLogo, .interior + .headerContainer .header #AquaglideLogo, .interior + .headerContainer .header .searchIcon svg, .interior + .headerContainer .header .cartIcon svg {
    fill: #3a4e66; }
  .interior + .headerContainer .header .ham-button .line {
    background: #3a4e66; }

.headerContainer.active .header {
  position: fixed;
  top: -72px;
  transform: translateY(72px);
  background-color: #efefef; }
  .headerContainer.active .header .logoContainer {
    height: 52.92px; }
  .headerContainer.active .header .heightFix {
    background-color: #fff;
    margin: 10px 10px 0 10px; }
    .headerContainer.active .header .heightFix .heightFixUnder {
      height: 52.92px; }
  .headerContainer.active .header #AquaglideLogo {
    visibility: hidden; }
  .headerContainer.active .header #AquaglideLogo, .headerContainer.active .header #AGLogo {
    fill: #3a4e66; }
  .headerContainer.active .header li.navbar-item .fullHeight {
    color: #3a4e66; }
  .headerContainer.active .header .submenu, .headerContainer.active .header .newSearch {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .headerContainer.active .header .newSearch.mobileNav {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .headerContainer.active .header .ham-button .line {
    background: #3a4e66; }
.headerContainer.active .subLine {
  margin-top: -15px !important; }
.headerContainer.active .searchIcon svg, .headerContainer.active .cartIcon svg {
  fill: #3a4e66; }

.headerContainer.active .header.switcheroo {
  bottom: 0; }
  @media screen and (min-width: 768px) {
    .headerContainer.active .header.switcheroo {
      bottom: auto; } }

.header.switcheroo #AquaglideLogo, .header.switcheroo #AGLogo {
  fill: #3a4e66; }
.header.switcheroo li.navbar-item .fullHeight {
  color: #3a4e66; }
.header.switcheroo .searchIcon svg, .header.switcheroo .cartIcon svg {
  fill: #3a4e66 !important; }
@media screen and (max-width: 768px) {
  .header.switcheroo .heightFixUnder .ham-trigger, .header.switcheroo .heightFixUnder .flexFiller, .header.switcheroo .heightFixUnder .logoTogether, .header.switcheroo .heightFixUnder .cartIcon {
    background-color: #fff; } }
@media screen and (max-width: 768px) {
  .header.switcheroo .heightFixUnder .ham-trigger {
    border-top-left-radius: 4px; } }
@media screen and (max-width: 768px) {
  .header.switcheroo .heightFixUnder .cartIcon {
    border-top-right-radius: 4px; } }

@media screen and (min-width: 768px) {
  .headerContainer.active .header.switcheroo .submenu, .headerContainer.active .header.switcheroo .newSearch {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.searchIcon {
  width: 40px;
  padding: 8px;
  display: none; }
  .searchIcon button {
    cursor: pointer; }
  .searchIcon a {
    display: block;
    height: 24px; }
  .searchIcon .hideAway {
    position: fixed;
    left: -999em; }
  .searchIcon svg {
    fill: #fff;
    transition: fill .3s ease-in-out; }
  @media screen and (min-width: 768px) {
    .searchIcon {
      display: flex; } }

.cartIcon {
  position: relative; }
  @media screen and (min-width: 768px) {
    .cartIcon {
      margin-left: 5px; } }
  .cartIcon a {
    position: relative;
    top: 4px;
    color: #fff; }
    @media screen and (min-width: 768px) {
      .cartIcon a {
        top: 2px; } }
    .cartIcon a .count {
      transition: background-color .3s ease-in-out; }
  .cartIcon a:hover {
    text-decoration: none; }
    .cartIcon a:hover .count {
      background-color: #d13f3e; }
  .cartIcon svg {
    width: 24px;
    fill: #fff;
    transition: fill .3s ease-in-out; }
  .cartIcon .count {
    background-color: rgba(209, 63, 62, 0.8);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    font-size: .8em;
    position: relative;
    left: -10px;
    top: -10px; }

.contactLink {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: .75em; }
  .contactLink a {
    background-color: rgba(209, 63, 62, 0.8);
    transition: background-color .3s ease-in-out;
    color: #fff;
    padding: 5px 8px;
    border-radius: 20px; }
  .contactLink a:hover {
    text-decoration: none;
    background-color: #d13f3e; }

.flexFiller {
  flex: 1;
  position: relative; }

.overlay {
  z-index: 1000; }

.mainFooter {
  color: #c6c6c5;
  padding: 100px 20px 0;
  background-color: rgba(58, 78, 102, 0.8);
  position: relative;
  font-size: .9em; }
  .mainFooter .theMainFooter {
    padding-bottom: 80px; }
  .mainFooter a:link, .mainFooter a:active, .mainFooter a:visited {
    color: #c6c6c5; }
  .mainFooter a:hover {
    color: #fff; }
  .mainFooter .imageContain {
    background: url("public/AquaglideFooterBackgroundNewMobile.jpg") no-repeat center center;
    background-size: 1200px 1500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
    @media screen and (min-width: 768px) {
      .mainFooter .imageContain {
        background: url("public/AquaglideFooterBackgroundNew.jpg") no-repeat center center;
        background-size: 1736px 800px; } }
    @media screen and (min-width: 1440px) {
      .mainFooter .imageContain {
        background-size: 2500px 1152px; } }
  .mainFooter h4 {
    font-family: "Passion One", sans-serif;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c6c6c5;
    padding-top: 0;
    padding-bottom: 15px;
    text-transform: uppercase; }
  .mainFooter > div > div {
    padding: 10px 0; }
    @media screen and (min-width: 768px) {
      .mainFooter > div > div {
        padding: 10px 50px; } }
  .mainFooter .footerFooter {
    border-top: 1px solid #c6c6c5; }
    .mainFooter .footerFooter > div {
      padding: 30px 0; }
    .mainFooter .footerFooter .footerLogo {
      font-family: "Passion One", sans-serif; }
      .mainFooter .footerFooter .footerLogo div, .mainFooter .footerFooter .footerLogo a {
        padding: 0 20px 0 0; }
        @media screen and (min-width: 768px) {
          .mainFooter .footerFooter .footerLogo div, .mainFooter .footerFooter .footerLogo a {
            padding: 0 0 0 20px; } }
      .mainFooter .footerFooter .footerLogo svg {
        width: 150px;
        fill: #fff; }
  .mainFooter .social {
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .mainFooter .social {
        padding-bottom: 0; } }
    .mainFooter .social a {
      width: 40px;
      padding: 6px; }
      .mainFooter .social a svg {
        fill: #fff; }

.search-aside aside {
  background-color: #fff;
  width: 100%;
  max-width: none;
  height: auto; }
  .search-aside aside .predictive-search {
    height: auto; }
  .search-aside aside header {
    padding-top: 80px; }
    .search-aside aside header h3 {
      display: none; }

.search-aside.overlay .close-outside {
  width: 100%; }

button.noStyles {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 24px;
  position: relative;
  z-index: 11; }

.newSearch {
  position: absolute;
  background-color: #efefef;
  top: -10px;
  left: 0;
  right: 0;
  padding: 10px 10px 0 10px;
  border-radius: 4px 4px 0 0; }
  .newSearch .subLine {
    border-bottom: 1px solid #c6c6c5;
    position: relative;
    top: -3px; }
  .newSearch .submenuJump {
    background-color: #fff;
    padding-top: 72px;
    border-radius: 4px 4px 0 0; }
  .newSearch .inside-xl, .newSearch .inside-lg, .newSearch .inside-md {
    padding-top: 20px;
    padding-bottom: 20px; }

.interior + .headerContainer .newSearch {
  padding-left: 0;
  padding-right: 0; }
.interior + .headerContainer .newSearch.mobileNav {
  padding-left: 10px;
  padding-right: 10px; }

form {
  justify-content: center;
  width: 100%;
  max-width: none; }
  form input {
    border-color: #3a4e66;
    margin: 0; }
  form button.iconSearch {
    background-color: #3a4e66;
    color: #fff;
    border: 1px solid #3a4e66;
    border-radius: 4px;
    margin-left: 4px; }

.backGray {
  background-color: #efefef;
  border: 1px solid #c6c6c5;
  padding: 20px;
  border-radius: 4px; }

li.navbar-item {
  margin-bottom: 0; }
  li.navbar-item .fullHeight {
    position: relative;
    z-index: 10;
    height: 100%;
    font-family: "Passion One", sans-serif;
    text-transform: uppercase;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.0em;
    color: #fff;
    cursor: pointer; }
    li.navbar-item .fullHeight .subSpan {
      background-color: rgba(39, 170, 225, 0);
      backdrop-filter: blur(1em);
      display: inline-block;
      padding: 6px 16px 4px;
      border-radius: 20px;
      transition: background-color .4s ease; }
  li.navbar-item .submenu {
    position: absolute;
    background-color: #efefef;
    top: 0;
    padding: 10px 10px 0 10px;
    border-radius: 4px 4px 0 0; }
    li.navbar-item .submenu .submenuJump {
      background-color: #fff;
      padding-top: 72px;
      border-radius: 4px 4px 0 0; }
    li.navbar-item .submenu .subLine {
      height: 1px;
      background-color: #c6c6c5;
      position: relative;
      top: -3px; }
    li.navbar-item .submenu h4 {
      font-family: "Passion One", sans-serif;
      font-size: 1.2em;
      margin-top: 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid #c6c6c5;
      padding-top: 0;
      padding-bottom: 15px;
      text-transform: uppercase;
      color: #3a4e66; }
    @media screen and (min-width: 992px) {
      li.navbar-item .submenu .configurations li a {
        padding-right: 40px; } }
    li.navbar-item .submenu .menuPadd {
      padding-top: 15px;
      padding-bottom: 15px; }
      @media screen and (min-width: 992px) {
        li.navbar-item .submenu .menuPadd {
          padding-top: 0;
          padding-bottom: 0; } }
  li.navbar-item .notAside {
    padding: 30px 20px 30px 20px;
    box-sizing: border-box;
    flex: 1;
    border: 1px solid #c6c6c5;
    background-color: #efefef;
    border-radius: 4px; }
    @media screen and (min-width: 992px) {
      li.navbar-item .notAside {
        margin: 20px; } }
  li.navbar-item .aside {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 30px 20px; }
    @media screen and (min-width: 992px) {
      li.navbar-item .aside {
        margin: 20px 5px;
        margin-bottom: 0; } }
  li.navbar-item .aside.extraSpace {
    flex: 1; }

li.navbar-item:hover .fullHeight span {
  background-color: rgba(39, 170, 225, 0.3); }

li.navbar-item .submenu {
  top: -10px;
  left: 0;
  right: 0; }
  li.navbar-item .submenu .sixty ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  li.navbar-item .submenu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    li.navbar-item .submenu ul li {
      padding: 0;
      margin: 0; }
      li.navbar-item .submenu ul li a {
        padding: 4px 8px;
        display: block;
        border-radius: 6px;
        transition: background-color .3s ease; }
      li.navbar-item .submenu ul li a:hover {
        text-decoration: none;
        background-color: rgba(204, 204, 204, 0.8); }

.interior + .headerContainer li.navbar-item .submenu {
  padding-left: 0;
  padding-right: 0; }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out; }

.megaFooter {
  background-color: #efefef;
  border-top: 1px solid #c6c6c5;
  border-bottom: 1px solid #c6c6c5;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: .9em; }
  .megaFooter ul {
    padding-left: 20px !important;
    padding-right: 20px !important; }
    .megaFooter ul li {
      margin: 0;
      padding: 0; }
      .megaFooter ul li a {
        border-radius: 12px !important; }

.submenu a {
  color: #3a4e66; }

li.navbar-item.notAqua .notAside {
  flex: 0 0 50%; }
li.navbar-item.notAqua .aside {
  flex: 1; }

body > main {
  padding: 10px; }

.interior {
  padding-top: 90px;
  color: #3a4e66; }
  .interior .inside-xxl {
    padding-left: 0;
    padding-right: 0; }

h2.sectionTitle {
  color: #3a4e66;
  margin-bottom: 20px;
  margin-top: 40px; }

.hamburger {
  cursor: pointer;
  width: 46px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .hamburger {
      display: none; } }

.switcheroo .ham-button .line {
  background: #3a4e66; }

.ham-trigger {
  height: 100%;
  position: relative;
  z-index: 10;
  padding-left: 5px; }

.ham-button {
  position: relative;
  width: 30px;
  height: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .ham-button .line {
    display: block;
    background: #fff;
    width: 30px;
    height: 2px;
    position: absolute;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .ham-button .line.line-1 {
      top: 0; }
    .ham-button .line.line-2 {
      top: 50%; }
    .ham-button .line.line-3 {
      top: 100%; }
  .ham-button:hover .line-1, .ham-button:focus .line-1 {
    transform: translateY(calc($height-line / 2 * -1)); }
  .ham-button:hover .line-3, .ham-button:focus .line-3 {
    transform: translateY(calc($height-line / 2)); }
  .ham-button.active .line-1 {
    transform: translateY(8px) translate(0) rotate(45deg); }
  .ham-button.active .line-2 {
    opacity: 0; }
  .ham-button.active .line-3 {
    transform: translateY(-8px) translate(0) rotate(-45deg); }

.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll; }
  .mobileNav form {
    width: auto; }
  .mobileNav .backGray {
    justify-content: center;
    padding: 0; }
    .mobileNav .backGray > form, .mobileNav .backGray > div {
      padding: 10px;
      flex: 1; }
      .mobileNav .backGray > form .search, .mobileNav .backGray > div .search {
        flex: 1; }
  .mobileNav .contactLink {
    text-align: center; }
  .mobileNav h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    font-family: "Passion One", sans-serif;
    text-transform: uppercase; }

.mobileNav li.navbar-item {
  margin-bottom: 10px; }
  .mobileNav li.navbar-item h2 {
    margin-top: 0;
    padding-top: 0; }
.mobileNav .accordion-button:not(.collapsed) {
  background-color: #efefef;
  box-shadow: none; }
.mobileNav .accordion-button {
  transition: all .3s ease;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  color: #3a4e66;
  font-family: "Passion One", sans-serif;
  text-transform: uppercase; }
  .mobileNav .accordion-button::after {
    display: none; }
.mobileNav .accordion-button.collapsed .aqX {
  transform: rotate(0deg); }
.mobileNav .accordion-button:not(.collapsed) .aqX {
  transform: rotate(45deg); }
.mobileNav .accordion-button:focus {
  box-shadow: none;
  border: 1px solid rgba(198, 198, 197, 0.5); }
.mobileNav .noPadd {
  padding-top: 0; }

.aqX {
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  transition: transform .3s ease; }
  .aqX span {
    height: 2px;
    background-color: #3a4e66;
    width: 12px;
    display: block;
    border-radius: 2px;
    position: absolute; }
  .aqX span:first-child {
    transform: translateY(4px) translate(0) rotate(90deg); }
  .aqX span:last-child {
    transform: translateY(4px) translate(0) rotate(180deg); }

aside {
  background-color: #efefef;
  color: #3a4e66; }
  aside header {
    margin: 10px;
    background-color: #fff;
    border-radius: 4px;
    border-bottom: none; }
    aside header h3 {
      font-family: "Passion One", sans-serif;
      padding: 0; }
  aside main {
    margin: 10px; }
    aside main > div {
      padding: 14px;
      background-color: #fff;
      border-radius: 4px; }
    aside main h4 {
      margin: 0;
      padding: 0;
      font-family: "Passion One", sans-serif;
      font-size: 1.4em; }
  aside .close {
    height: 20px; }
  aside .aqX {
    transform: rotate(45deg);
    width: 20px;
    height: 20px; }
    aside .aqX span {
      width: 20px; }
    aside .aqX span:first-child {
      transform: translateY(8px) translate(0) rotate(90deg); }
    aside .aqX span:last-child {
      transform: translateY(8px) translate(0) rotate(180deg); }
  aside ul.options {
    margin-bottom: 5px; }
    aside ul.options li {
      margin-right: 5px; }
      aside ul.options li small {
        display: inline-block;
        padding: 2px 5px;
        border-radius: 4px;
        background-color: #efefef; }
  aside .cart-line-quantiy form {
    width: auto; }
    aside .cart-line-quantiy form button {
      color: #3a4e66;
      background-color: #efefef;
      border: 1px solid #c6c6c5 !important;
      border-radius: 4px;
      width: 28px;
      height: 28px;
      position: relative; }
    aside .cart-line-quantiy form button[disabled] {
      opacity: .3; }
  aside .cart-line-quantiy .quantity {
    min-width: 30px; }
  aside .cart-line-quantiy button[type=submit] {
    width: 28px;
    padding: 4px 8px; }
    aside .cart-line-quantiy button[type=submit] svg {
      width: 20px;
      height: 20px;
      position: relative;
      top: -1.5px;
      left: -1.5px;
      fill: #3a4e66; }
  aside .cart-line-quantiy .goAway {
    position: absolute;
    left: -999em; }
  aside .cart-summary-aside {
    width: 100%;
    left: 0;
    background-color: transparent;
    border-top: none;
    padding: 10px; }
    aside .cart-summary-aside > div {
      padding: 14px;
      background-color: #fff;
      border-radius: 4px; }
    aside .cart-summary-aside .aboveDiscount {
      margin-bottom: 10px; }
    aside .cart-summary-aside dl {
      margin: 0; }
  aside dd {
    margin-bottom: 0; }

.price {
  font-family: "Passion One", sans-serif;
  color: #27aae1; }

.cartContents {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.discountForm {
  color: #3a4e66;
  gap: 5px; }
  .discountForm input, .discountForm button {
    border: 1px solid #c6c6c5;
    border-radius: 4px; }
  .discountForm input {
    flex: 1;
    color: #3a4e66; }

.cart-subtotal dt {
  margin-right: 5px; }

.continueCheckout {
  margin-top: 10px; }

.productFlex {
  grid-gap: 14px; }
  @media screen and (min-width: 768px) {
    .productFlex > div {
      flex: 1; } }
  @media screen and (min-width: 768px) {
    .productFlex .product-image {
      order: 1; } }
  .productFlex .product-image img {
    margin-bottom: 10px; }
  .productFlex .product-image img:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .productFlex .product-main {
      order: 2; } }

.product-main {
  position: static;
  top: 0;
  color: #3a4e66; }
  @media screen and (min-width: 768px) {
    .product-main {
      position: sticky;
      aspect-ratio: 1 / 1; } }
  .product-main > div {
    padding: 80px 20px; }
  .product-main h1 {
    padding-top: 0;
    font-family: "Passion One", sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .product-main-interior-padding {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto; }
  .product-main .product-description {
    margin-bottom: 10px; }
  .product-main button[type=submit] {
    border-radius: 20px;
    background-color: #27aae1;
    color: #fff;
    transition: background-color .4s ease;
    padding: 4px 8px;
    display: inline-block;
    font-size: .9em;
    border: 2px solid #27aae1;
    min-width: 110px; }
  .product-main button[type=submit]:hover {
    background-color: #3a4e66; }
  .product-main button[type=submit]:disabled {
    opacity: .4; }

.product-price {
  color: #27aae1;
  font-family: "Passion One", sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px; }
  .product-price s {
    opacity: .5; }
  .product-price .sale {
    color: #d13f3e; }

.productMain .featureIcon {
  position: relative; }
  .productMain .featureIcon::before {
    font-family: "Font Awesome 5 Free";
    content: "";
    font-size: 40px;
    font-weight: 900; }
  .productMain .featureIcon h4 {
    padding-top: 1px;
    font-family: "Passion One", sans-serif;
    text-transform: uppercase; }
.productMain .featureIcon.bestFor::before {
  content: ""; }
.productMain .featureIcon.capacity::before {
  content: ""; }
.productMain .featureIcon.warranty::before {
  content: ""; }
.productMain .featureIcon.dimensions::before {
  content: ""; }
.productMain .featureIcon.slideHeight::before {
  content: ""; }
.productMain .featureIcon.boxDimensions::before {
  content: ""; }
.productMain .featureIcon.minWaterDepth::before {
  content: ""; }
.productMain .featureIcon.includes::before {
  content: ""; }
.productMain .featureIcon.notIncluded::before {
  content: ""; }
.productMain .featureIcon.maxPressure::before {
  content: ""; }
.productMain .featureIcon.airFlow::before {
  content: ""; }
.productMain .individualIcon {
  background-color: #fff;
  padding: 30px 10px;
  text-align: center;
  color: #3a4e66;
  border-radius: 4px; }
  .productMain .individualIcon p {
    margin-top: 4px;
    margin-bottom: 4px; }
.productMain .contactAcception {
  padding: 4px;
  background-color: #c6c6c5;
  border-radius: 20px;
  color: #fff;
  text-align: center; }
  .productMain .contactAcception button, .productMain .contactAcception a {
    flex: 0 0 110px;
    align-self: center; }
  .productMain .contactAcception .smol {
    margin-left: 10px;
    margin-right: 10px; }
.productMain .smoothOperator {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px; }
  .productMain .smoothOperator ul {
    display: flex;
    grid-gap: 5px; }
    .productMain .smoothOperator ul li {
      margin: 0;
      padding: 0;
      display: inline-block;
      text-align: center; }
      .productMain .smoothOperator ul li a {
        border-radius: 20px;
        display: block;
        padding: 4px 12px;
        min-width: 110px;
        transition: background-color .4s ease;
        background-color: #efefef; }
      .productMain .smoothOperator ul li a:hover {
        background-color: #c6c6c5; }
.productMain #media .featuredContainer {
  position: relative;
  width: 100%;
  min-height: 500px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #000;
  padding: 20px 0 40px; }
  .productMain #media .featuredContainer h2.sectionTitle {
    color: #fff; }
  .productMain #media .featuredContainer .aboveGrade {
    position: relative;
    z-index: 10;
    color: #fff; }
  .productMain #media .featuredContainer img {
    opacity: .5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200%;
    width: auto;
    height: auto; }
    @media screen and (min-width: 992px) {
      .productMain #media .featuredContainer img {
        min-width: 100%; } }

#specs {
  padding-bottom: 50px; }
  #specs h3 {
    margin-bottom: 10px; }
  #specs ul {
    list-style-type: disc;
    padding-left: 18px; }

#specs.inside-xxl {
  padding-left: 20px;
  padding-right: 20px; }

.products-grid {
  grid-gap: 20px; }
  .products-grid a h3 {
    color: #3a4e66;
    transition: color .4s ease; }
  .products-grid a:hover {
    text-decoration: none; }
    .products-grid a:hover h3 {
      color: #27aae1; }

.klaviyoBackInStock {
  background: #c6c6c5;
  padding: 15px 10px;
  border-radius: 20px; }
  .klaviyoBackInStock p {
    margin-top: 0; }
  .klaviyoBackInStock .nope {
    color: #d13f3e; }
  .klaviyoBackInStock .displayBlock input, .klaviyoBackInStock .displayBlock label {
    display: block; }
  .klaviyoBackInStock .displayBlock input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 4px 8px; }
  .klaviyoBackInStock .displayBlock label {
    position: absolute;
    left: -999em; }
  .klaviyoBackInStock .buttonHolder {
    margin-top: 5px; }
    .klaviyoBackInStock .buttonHolder button, .klaviyoBackInStock .buttonHolder div.button {
      border: none;
      background-color: #27aae1;
      color: #fff;
      display: inline-block;
      padding: 4px 8px;
      border-radius: 20px;
      cursor: pointer;
      min-width: 110px;
      text-align: center; }
    .klaviyoBackInStock .buttonHolder button:hover {
      background-color: #efefef; }

main .klaviyoBackInStock p {
  margin-bottom: 10px; }

#video {
  padding: 20px 0; }

.obrien-vimeo {
  position: relative;
  padding-top: 56.25%;
  /* 720 / 1280 = 0.5625 */ }

.product-player {
  position: absolute;
  top: 0;
  left: 0; }

.flexFix .possibleFix {
  flex: 0 0 50%; }
.flexFix .possibleFix.imgFix {
  flex: 0 0 63.6%; }

.heroContainer {
  position: relative;
  top: -10px;
  padding-top: 10px;
  height: 100vh;
  padding-bottom: 10px; }
  .heroContainer .hero {
    background-color: #000;
    border-radius: 4px;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .heroContainer .hero img {
      opacity: .9;
      object-fit: cover;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100vh;
      top: 50%;
      transform: translateY(-50%); }

.heroContentContainer {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  min-height: 100vh;
  left: 0; }
  .heroContentContainer .heroContent {
    position: absolute;
    width: 100%;
    padding: 20px 20px 80px;
    bottom: 0;
    left: -5px; }
    .heroContentContainer .heroContent h1 {
      color: #fff;
      font-size: 3em;
      margin-bottom: 20px;
      text-shadow: 0 0 10px #3D3939; }
      .heroContentContainer .heroContent h1 span {
        display: block; }
      .heroContentContainer .heroContent h1 span.smol {
        text-transform: none; }
      @media screen and (min-width: 992px) {
        .heroContentContainer .heroContent h1 {
          font-size: 5em; } }
    .heroContentContainer .heroContent a.smoothOperator {
      display: inline-block;
      color: #fff;
      font-family: "Passion One", sans-serif;
      border-radius: 20px;
      background-color: #27aae1;
      padding: 6px 12px;
      min-width: 150px;
      font-size: 1.2em;
      transition: background-color .4s ease; }
    .heroContentContainer .heroContent a.smoothOperator:hover {
      text-decoration: none;
      background-color: #d13f3e; }

.funLine {
  fill: none;
  stroke: #27AAE1;
  stroke-width: 4;
  stroke-miterlimit: 8; }

.funLink svg {
  display: block;
  margin: 0 auto; }
.funLink #scrollElement {
  position: fixed;
  top: 0;
  height: 2200px; }

.underHome {
  position: relative;
  margin-top: -80px; }
  .underHome .pushUp {
    margin-top: -40px; }
  .underHomeInd.noGap {
    margin-bottom: 0; }
  .underHomeInd {
    margin-bottom: 40px; }
    @media screen and (min-width: 992px) {
      .underHomeInd {
        margin-bottom: 0; } }
    .underHomeIndContent {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: -34px;
      position: relative; }
      .underHomeIndContent .titleContainer {
        border-radius: 4px 4px 0 0;
        background-color: #3a4e66; }
        .underHomeIndContent .titleContainer h3 {
          color: #fff;
          padding-top: 20px;
          padding-bottom: 20px; }
      .underHomeIndContent .content {
        background-color: #fff;
        padding: 20px;
        border-radius: 0 0 4px 4px; }
        .underHomeIndContent .content p {
          margin-top: 10px;
          margin-bottom: 10px; }
      .underHomeIndContent .buttonContainer {
        position: relative;
        margin-top: -15px; }
        .underHomeIndContent .buttonContainer .button {
          font-weight: 600; }

.underHomeLine {
  position: relative; }
  .underHomeLineActual {
    width: 2px;
    background-color: #27aae1;
    height: 160px;
    position: relative;
    margin-left: auto;
    margin-right: auto; }
  .underHomeLineActualSmall {
    width: 2px;
    width: 2px;
    background-color: #27aae1; }
    @media screen and (min-width: 768px) {
      .underHomeLineActualSmall {
        height: 150px; } }

.fullLine {
  position: relative; }
  .fullLine .underHomeInd {
    flex: 1; }
    .fullLine .underHomeInd .filler {
      flex: 1; }
    @media screen and (min-width: 768px) {
      .fullLine .underHomeInd .topLine {
        border-top: 2px solid #27aae1; } }

/*# sourceMappingURL=app.css.map */
