// Footer Styles

.mainFooter {
    color: $navLtGray;
    padding: 100px 20px 0;
    background-color: rgba($color: $navBlueGray, $alpha: .8);
    position: relative;
    font-size: .9em;
    .theMainFooter {
        padding-bottom: 80px;
    }
    a:link, a:active, a:visited {
        color: $navLtGray;
    }
    a:hover {
        color: #fff;
    }
    .imageContain {
        background: url('public/AquaglideFooterBackgroundNewMobile.jpg') no-repeat center center;
        background-size: 1200px 1500px;
        @media screen and (min-width: $screen-sm) {
            background: url('public/AquaglideFooterBackgroundNew.jpg') no-repeat center center;
            background-size: 1736px 800px;
        }
        @media screen and (min-width: $screen-xl) {
            background-size: 2500px 1152px;
        }
        
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
    }
    h4 {
        font-family: $passion;
        font-size: 1.2em;
        margin-top: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid $navLtGray;
        padding-top: 0;
        padding-bottom: 15px;
        text-transform: uppercase;
    }
    > div {
        > div {
            padding: 10px 0;
            @media screen and (min-width: $screen-sm) {
                padding: 10px 50px;
            }
        }
    }
    .footerFooter {
        border-top: 1px solid $navLtGray;
        > div {
            padding: 30px 0;
        }
        .footerLogo {
            font-family: $passion;
            div, a {
                padding: 0 20px 0 0;
                @media screen and (min-width: $screen-sm) {
                    padding: 0 0 0 20px;
                }
            }
            svg {
                width: 150px;
                fill: #fff;
            }
        }
    }
    .social {
        padding-bottom: 20px;
        @media screen and (min-width: $screen-sm) {
            padding-bottom: 0;
        }
        a {
            width: 40px;
            padding: 6px;
            svg {
                fill: #fff;
            }
        }

    }
}