


li.navbar-item {
    margin-bottom: 0;
    .fullHeight {
        position: relative;
        z-index: 10;
        height: 100%;
        font-family: $passion;
        text-transform: uppercase;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 1.0em;
        color: #fff;
        cursor: pointer;
        .subSpan {
            background-color: rgba($color: $navBlue, $alpha: 0);
            backdrop-filter: blur(1em);
            display: inline-block;
            padding: 6px 16px 4px;
            border-radius: 20px;
            transition: background-color .4s ease;
        }
    }
    
    .submenu {
        position: absolute;
        background-color: $navLightest;
        top: 0;
        padding: 10px 10px 0 10px;
        border-radius: 4px 4px 0 0;
        .submenuJump {
            background-color: #fff;
            padding-top: 72px;
            border-radius: 4px 4px 0 0;
        }
        .subLine {
            height: 1px;
            background-color: $navLtGray;
            position: relative;
            top: -3px;
        }
        h4 {
            font-family: $passion;
            font-size: 1.2em;
            margin-top: 5px;
            margin-bottom: 20px;
            border-bottom: 1px solid $navLtGray;
            padding-top: 0;
            padding-bottom: 15px;
            text-transform: uppercase;
            color: $navBlueGray;
        }
        .configurations {
            li {
                a {
                    @media screen and (min-width: $screen-md) {
                        padding-right: 40px;
                    }
                }
            }
        }
        .menuPadd {
            padding-top: 15px;
            padding-bottom: 15px;
            @media screen and (min-width: $screen-md) {
                padding-top: 0;
                padding-bottom: 0;
            }
            
        }
        
    }
    // .submenu.lakefrontMenu {
    //     .notAside {
    //         flex: 0 0 auto !important;
    //     }
    // }
    .notAside {
        padding: 30px 20px 30px 20px;
        box-sizing: border-box;
        flex: 1;
        border: 1px solid $navLtGray;
        background-color: $navLightest;
        border-radius: 4px;
        
        @media screen and (min-width: $screen-md) {
            margin: 20px;
        }


    }
    .aside {
        box-sizing: border-box;
        margin-bottom: 10px;
        @media screen and (min-width: $screen-md) {
            //flex: 0 0 370px;
            margin: 20px 5px;
            margin-bottom: 0;
        }
        padding: 30px 20px; 
    }
    .aside.extraSpace {
        flex: 1;
    }
}

li.navbar-item:hover {
    .fullHeight {
        span {
            background-color: rgba($color: $navBlue, $alpha: .3);
        }
    }
}
li.navbar-item {
    .submenu {
        top: -10px;
        left: 0;
        right: 0;
        
        .sixty {
            ul {
                li {
                    a:hover {
                        background-color: rgba($color: #fff, $alpha: .1);
                    }
                }
            }
        }
       
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 0;
                margin: 0;
                a {
                    padding: 4px 8px;
                    display: block;
                    border-radius: 6px;
                    transition: background-color .3s ease;
                }
                a:hover {
                    text-decoration: none;
                    background-color: rgba($color: #ccc, $alpha: .8);
                }
            }
        }
    }
}

// .fade-in-out {
//     opacity: 0;
//     transition: opacity 0.3s ease-in-out;
//     visibility: hidden;
// }

// .fade-in-out.visible {
//     opacity: 1;
//     visibility: visible;
// }

.interior + .headerContainer {
    li.navbar-item {
        .submenu {
            padding-left: 0;
            padding-right: 0;
        }
        
    }
}

.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out; // Same as timeout in CSSTransition
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out; // Same as timeout in CSSTransition
  }
  
//   .container {
//     /* Add styles for container if needed */
//   }
  
//   .content {
//     /* Add styles for content if needed */
//   }

.megaFooter {
    background-color: $navLightest;
    border-top: 1px solid $navLtGray;
    border-bottom: 1px solid $navLtGray;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .9em;
    ul {
        padding-left: 20px !important;
        padding-right: 20px !important;
        li {
            margin: 0;
            padding: 0;
            a {
                border-radius: 12px !important;
            }
        }
    }
}

.submenu {
    a {
        color: $navBlueGray;
    }
}

li.navbar-item.notAqua {
    .notAside {
        flex: 0 0 50%;
    }
    .aside {
        flex: 1;
    }
}