.search-aside {
    
    aside {
        background-color: #fff;
        width: 100%;
        max-width: none;
        height: auto;
        .predictive-search {
            height: auto;
        }
        header {
            padding-top: 80px;
            h3 {
                display: none;
            }
        }
    }
}
.search-aside.overlay {
    .close-outside {
        width: 100%;
    }
}

button.noStyles {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 24px;
    position: relative;
    z-index: 11;
}
.newSearch {
    position: absolute;
    background-color: $navLightest;
    top: -10px;
    left: 0;
    right: 0;
    padding: 10px 10px 0 10px;
    border-radius: 4px 4px 0 0;
    .subLine {
        border-bottom: 1px solid $navLtGray;
        position: relative;
        top: -3px;
    }
    .submenuJump {
        background-color: #fff;
        padding-top: 72px;
        border-radius: 4px 4px 0 0;
    }
    .inside-xl, .inside-lg, .inside-md  {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.interior + .headerContainer {
    
    .newSearch {
        padding-left: 0;
        padding-right: 0;
    }
    .newSearch.mobileNav {
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

form {
    justify-content: center;
    width: 100%;
    max-width: none;
    input {
        border-color: $navBlueGray;
        margin: 0;
    }
    button.iconSearch {
        background-color: $navBlueGray;
        color: #fff;
        border: 1px solid $navBlueGray;
        border-radius: 4px;
        margin-left: 4px;
    }
}

.backGray {
    background-color: $navLightest;
    border: 1px solid $navLtGray;
    padding: 20px;
    border-radius: 4px;
}